html {
    height: 100%;
    overflow-y: scroll;
}

body {
    background: url('Lee-226.jpg') no-repeat fixed center;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.j-topnav {
    background-color: rgb(61, 91, 59);
    background-color: rgba(61, 91, 59, 0.8);
    border: 0;
}

.j-topnav a:link {
    color: #FFFFFF;
}

.j-topnav a:visited {
    color: #FFFFFF;
}


.j-topnav li a:link {
    color: #FFFFFF;
}

.j-topnav li a:visited {
    color: #FFFFFF;
}

.j-nav {
    background-color: rgb(195, 207, 171);
    background-color: rgba(195, 207, 171, 0.6);
    color: #C3CFAB;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: small;
    padding: 0px;
}

.j-nav a:link {
    color: #FFFFFF;
}

.j-nav a:visited {
    color: #FFFFFF;
}

.j-nav a:hover {
    color: #333333;
}

.j-main {
    background-color: #C3CFAB;
    height: 100%;
    text-align: center;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.j-photo {
    opacity: 1;
    margin-bottom: 1px;
}

.pictures {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.pagination {
    width: 50%;
    margin: 0 auto;
}
