{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Photos
{% endblock %}

{% block menu %}
  <ul class="nav nav-sidebar">
      {% for gallery in galleries %}
      <li><a href="{% url 'photo:image_set' gallery.dir_name %}">{{ gallery.display_name }}</a></li>
      {% endfor %}
  </ul>
    <!--
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    -->
{% endblock %}

{% block content %}
{% for image in images %}
<img class="j-photo" src="{{ image.tn_src }}" width=100px>
{% endfor %}
{% endblock %}
