{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Photos
{% endblock %}

{% block menu %}
  <ul class="nav nav-sidebar">
      {% for gallery in galleries %}
      <li><a href="{% url 'photo:image_set' gallery.dir_name %}">{{ gallery.display_name }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}


{% block content %}
<span class="label label-warning">{{ message }}</span>

<div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page={{ images.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<div class="pictures" >
{% for image in images %}
<a class="image-link" href="#modalImage" data-toggle="modal" data-target="#imageModal" data-id="{{ image.id }}" data-src="{{ image.src }}">
            <img class="j-photo" src="{{ image.tn_src }}">
        </a>
    {% endfor %}
</div>

<!-- IMAGE MODAL -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img class="modal-photo" width=100% id="modalImage">
      </div>
      <div class="modal-footer">
          <form method=post>
              {% csrf_token %}
              <input type=text name="delete_code" placeholder="delete code"></input>
              <input type=hidden id="delete" name="delete_image"></input>
              <input type="submit" class="btn btn-danger" value="Delete"></input>
          </form>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.min.js"></script>
<script type=text/javascript>
$(window).load(function masonryF() {
    $('.pictures').masonry({
        itemSelector: ".j-photo",
        gutter: 1
    });
});

$('#imageModal').on('show.bs.modal', function showModalF(event) {
  var image = $(event.relatedTarget);
  var image_src = image.data('src');
  var image_id = image.data('id');

  var modal = $(this);
  modal.find('modal-body').css({
      width: 'auto';
      height: 'auto';
      max-height: 100%;
  });
  modal.find('img').attr("src", image_src);
  modal.find('input#delete').attr("value", image_id);
});

$('#imageModal').on('shown.bs.modal', function shownModalF(event) {
    $('#imageModal').animate({ 
      scrollTop: $("#modalImage").offset().top - 200
    }, 'slow');
});
</script>
{% endblock %}
