{% extends "base.html" %}
{% block title %}
Blogs
{% endblock %}


{% block menu %}
  <ul class="nav nav-sidebar">
      {% for p in posts %}
      <li><a href="#">{{ p.title }}</a></li>
      {% endfor %}
  </ul>
    <!--
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    -->
{% endblock %}


{% block content %}
    <h3>
        {{ post.title }}
    </h3>
    {% if post.published_at %}
        <small>
            Published at {{ post.published_at }}
        </small>
    {% endif %}
    <p>
        {{ post.body }}
    </p>
</div>
{% endblock %}
